<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Magic Eye Generator</title>
  </head>
  <body>
    <h1>Interactive Magic Eye Generator</h1>
    <form method="POST" enctype="multipart/form-data">
      <label for="text">Enter Text:</label><br />
      <input
        type="text"
        id="text"
        name="text"
        placeholder="Your text here"
      /><br /><br />

      <label for="file">Upload Image to generate Depth map</label><br />
      <input type="file" id="file" name="file" /><br /><br />

      <button type="submit">Generate Stereogram</button>
    </form>
  </body>
</html>
